@css {
/*  CSS3 Clases - Luis Gago Casas */
}
@import 'nib/vendor'
@import 'simplegrid'
@import 'keyframes'
vendor-prefixes = o ms moz webkit
@font-face
	font-family 'Open Sans'
	font-style normal
	font-weight 400
	src local('Open Sans'), local('Open Sans'), url("../fonts/opensans.woff") format('woff')
@font-face
	font-family 'Josefin Slab'
	font-style normal
	font-weight 400
	src local('Josefin Slab'), local('JosefinSlab'), url("../fonts/Josefin_Slab.woff") format('woff')
border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	ms-border-radius arguments
	o-border-radius arguments
	border-radius arguments
appearance()
	-webkit-appearance arguments
	-moz-appearance arguments
	ms-appearance arguments
	o-appearance arguments
	appearance arguments
box-shadow()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	ms-box-shadow arguments
	o-box-shadow arguments
	box-shadow arguments
transform()
	-webkit-transform arguments
	-moz-transform arguments
	ms-transform arguments
	o-transform arguments
	transform arguments
transition()
	-webkit-transition arguments
	-moz-transition arguments
	ms-transition arguments
	o-transition arguments
	transition arguments
zoom()
	-ms-zoom arguments
	-webkit-zoom arguments
	zoom arguments
background-size()
	-webkit-background-size arguments
	-moz-background-size arguments
	ms-background-size arguments
	o-background-size arguments
	background-size arguments
body
	background #FFF
	font-family 'Open Sans',Arial,Sans-serif
	font-size 16px
*
	margin 0
a
	color #FFF
	text-decoration none
ul
	margin 0px
	padding 0px 0px 0px 30px
li
	list-style none
.wrapper
	margin 0 auto
	position relative
.header
	background-color #103950
	color #fff
	margin 0 auto
	.cabecera
		height 50px
		.conteiner
			margin 0 auto
			max-width 1000px
			position relative
.cabecera
	background #1873BB
	border-top 5px solid #5B9230
	.logo
		background url("../img/icono-1.png") no-repeat
		background-size: 380px 44px
		float left
		height: 45px
		line-height 55px
		position relative
		width: 380px
		z-index 7
		margin 2px 0px 0px 0px
.menu
	height inherit
	left 0
	margin 0 auto
	position absolute
	right 0
	top 0
	z-index 6
	.lista
		font-size 0
		padding 0
		text-align right
		.tab
			-moz-transform scale(1,1)
			-moz-transform-origin left center
			// font-weight: 600
			display inline-block
			font-size 14px
			height 50px
			text-align center
			text-transform uppercase
			vertical-align top
			zoom 1
			a
				// border-radius 5px 5px 0 0
				// margin-top 5px
				color #fff
				display block
				height 50px
				line-height 50px
				padding 0 20px
				text-align center
				transition 0.3s
			&:hover a, &.active
				background #99865C
.marcado
	background #99865C
.portada
	background url("../img/portada.png") no-repeat left
	background-size  500px auto
	height 440px
	margin 0px auto 0px auto
	max-width 1000px
	position relative
.curso
	line-height 50px
	position absolute
	right 0
	top 70px
	.desarrolloweb
		font-size 3.7em
		text-shadow 3px 3px 0 #1f86a6,8px 10px 0 rgba(0, 0, 0, 0.2)
		text-align center
	.cursode
		// font-family 'Josefin Slab', serif
		font-size 2.3em
		text-align center
		a:hover
			color: #088608
			border-bottom: 4px solid #FFF
	.clavede
		font-size 2.3em
		text-align center
	.pequenio
		font-size 0.5em
	.acceso
		margin 20px 0px 0px 0px
		// background-color #ffc43a
		background-color #0d373a
		padding: 10px 0px 0px 0px
		h2
			line-height 20px
			display inline-block
		.pequenio
			font-size 0.3em
	.live
		// background-color #e74c3c
		// height 50px
		text-align: center
		// border-left: 5px solid #000
		// border-right: 5px solid #000
		margin: 35px 0px 0px 0px
	.calico
		font-size: 32px
		padding: 0px 0px 0px 10px
		line-height: 50px !important
.flotante
	border-top 0px
	box-shadow 0 1px 5px #000
	left 0
	position fixed
	right 0
	top 0
	z-index 99
.contenido
	margin 0px auto 40px auto
	max-width 1000px
	position relative
	.grid-pad
		padding 20px 0 0 0px
	.aprendo
		margin: 10px auto
		.img
			padding 5px
		.texto
			padding 5px
			text-align justify
			a
				color: #156115
				font-weight: bold
				&:hover
					border-bottom: 2px solid #156115
		.orden
			background-color: #972E2E
			border-radius 50px
			color: #FFF
			font-size: 30px
			height 50px
			line-height: 50px
			margin: 70px 10px 10px 10px
			padding: 0px 17px
			width 50px
	.left
		.img
			float right
		.orden
			float left
	.right
		.img
			float left
		.orden
			float right
	.bonus
		text-align: center
		font-size: 50px
		text-shadow: 0 2px 5px #000
		border-bottom: 1px dotted #D1D1D1
		line-height: 12px
		margin: 30px 0px 30px 0px
	.tituloc
		font-size 45px
	.textoc
		width: 90%
		margin: 0px auto
		p
			text-align justify
			font-size 18px
			img, iframe, video
				width 100%
				max-width 400px
	.descripcion
		width: 80%
		margin: 0px auto 15px auto
		// background-color: rgba(165, 165, 165, 0.05)
		padding: 5px 35px 5px 35px
		text-align: justify
		// color: #1873bb
		font-size: 21px
		// box-shadow: 0px 0px 10px 0px #C9C9C9
		// text-shadow 0px 2px 1px rgba(155, 155, 155, 1)
		line-height 25px
.section
	display inline-block
	width 100%
	&:hover
		background-color rgba(238, 238, 238, 0.5)
.input
	border-radius: 5px
	box-sizing: border-box
	font-size: inherit
	outline: 0
	padding-left: 5px
	width: 200px
	height: 30px
	border: 0px
	font-size: 17px
	line-height: 25px
	display inline-block
.btn
	-webkit-appearance: none
	border: none
	border-bottom: 4px solid transparent
	border-radius: 5px
	color: #fff
	cursor: pointer
	display: inline-block
	zoom: 1
	-moz-transform: scale(1,1)
	-moz-transform-origin: left center
	font-size: 14px
	padding: 5px 5px
	vertical-align: middle
	white-space: nowrap
.yellow
	background: #ffc33e;
	color: #b36929;
	border-color: #b36929
.footer
	background-color: #213338
	border-radius: 5px 5px 0px 0px
	bottom: 0
	color: #FFF
	left: 0
	margin: 0 auto
	padding: 3px
	position: fixed
	right: 0
	width: 80%
	z-index: 8
	text-align center
	.msj
		display: inline-block
		font-size: 18px
		vertical-align: middle
.efectoone
	animated()
	animatedbounceIn()
// Parrafos
.ulcont
	display inline-block
	text-align left
	li
		padding: 0px
		list-style-type: circle
// Iconos
.llaveico
	font-size: 40px
	display: inline-block
	color: #008fd5
.llaves
	display inline-block
.llavetext
	font-size: 20px
	display: block
	line-height: 0px
	color: #008fd5
	font-weight: bold
.regaloico
	font-size: 40px
	color: #40b323
	vertical-align: middle
	display inline-block
.frmico
	color: #1F7894
	vertical-align: middle
.copacolor
	color: #928918
	font-size: 20px
.fechaico
	color #928918
	font-size: 35px
	margin: 0px 5px 0px 0px
// fechas
.fechaenlace, .fechadesac, .fechapasado
	border-radius: 5px
	font-size: 16px
	padding: 2px
.fechapasado
	color: #FFFFFF
	background-color #107A7E
.fechaenlace
	color: #FFFFFF
	background-color: #2F7E10
.fechadesac
	background-color #ccc
	color #000
.fechablock:nth-of-type(odd)
	background-color rgba(196, 196, 196, 0.1)
.fechaclases
	display: inline-block
	line-height: 20px
	vertical-align: bottom
	.fechaclase
		color: #159C66
		font-size: 15px
.rightfecha
	text-align right
	font-size 0px
.fechaevento
	color: #8B1A1A
// menu icos
.menuico
	font-size: 23px
	vertical-align: middle
.twitter
	color #55ACEE
.google
	color #DD4C39
.linkedin
	color #007BB6
// Cuenta regresiva
.countdown
	display: inline-block
	vertical-align: super
	& > p
		padding-top:3px
	& .counter
		left:-20px
		margin:5px 0 0
		padding:5px 0 3px 20px
		position:relative
		width:100%
		font-size: 20px
	& .counter > div
		display:inline-block
	& .counter > div span:nth-of-type(2)
		font-size:15px
// Clases Comunes
.center
	text-align center
.right
	text-align right
.listaopt
	height: 75px
	line-height: 30px
	&:hover
		background-color: #F1F1F1
.opcionon
	.opcion
		background-color: #709412
.opcionoff
	.opcion
		background-color #CC2828
.opcionoff, .opcionon
	.opcion
		color #FFF
		// border-radius: 50px
		display: inline-block
		height: 35px
		line-height: 25px
		padding: 5px
		vertical-align: super
		width: 80px
		text-shadow: 0px 2px 1px #000
// Profe
.fotoprofe
	width: 100px
	margin: 0px auto
	height: 100px
	display inline-block
	vertical-align: middle
	img
		width 100%
		height 100%
		border-radius 300px
		box-shadow: 0px 0px 5px 0px #000
.descriprofe
	display inline-block
	vertical-align: middle
	padding: 20px
	background-color: rgba(30, 117, 212, 1)
	margin: 0px -15px 0px 0px
	border-radius: 20px 0px 0px 20px
	color: #FFF
	box-shadow: 0px 0px 5px 0px #000
.profedatos
	margin 0px 0px
	color #000
	.datop
		padding 5px
		a
			color #000
	.datop:nth-of-type(odd)
		background-color rgba(196, 196, 196, 0.1)
@font-face
	font-family: 'icomoon'
	src:url('../fonts/icomoon.eot?-cw7x80')
	src:url('../fonts/icomoon.eot?#iefix-cw7x80') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-cw7x80') format('woff'),
		url('../fonts/icomoon.ttf?-cw7x80') format('truetype'),
		url('../fonts/icomoon.svg?-cw7x80#icomoon') format('svg')
	font-weight: normal
	font-style: normal
[class^="icon-"], [class*=" icon-"]
	font-family: 'icomoon'
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
.icon-books:before
	content: "\e600"
.icon-stack:before
	content: "\e601"
.icon-calendar:before
	content: "\e602"
.icon-user:before
	content: "\e603"
.icon-quotes-left:before
	content: "\e604"
.icon-key:before
	content: "\e605"
.icon-gift:before
	content: "\e607"
.icon-trophy:before
	content: "\e60f"
.icon-link:before
	content: "\e608"
.icon-thumbs-up:before
	content: "\e609"
.icon-mail:before
	content: "\e60a"
.icon-googleplus:before
	content: "\e60b"
.icon-facebook:before
	content: "\e60c";
.icon-twitter:before
	content: "\e60d"
.icon-github:before
	content: "\e60e"
.icon-linkedin:before
	content: "\e606"